/*
* @Author: Administrator
* @Date:   2017-08-04 16:58:48
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-06 10:20:25
*/
*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
ul{
	list-style: none;
}
ul li{
	float: left;
}
a{
	text-decoration: none;

}
div.top{
	width: 100%;
	background:  url(../images/海尔商城3_02.png) repeat;
	border-bottom: 1px solid #cfcfcf;
}
.top .cont1{
	width: 1000px;
	height: 27px;
	margin: 0 auto;
	color: #555;
	position: relative;

	/* background-color: blue; */
}
.top .cont1 .left{
	width: 350px;
	float: left;
	display: inline-block;
}
.top .cont1 span{
	display: inline-block;
	line-height: 27px;
	float:left;
}
.top .cont1 .left select{
	height: 27px;
	width: 64px;
	float: left;
	color: #d92446;
	padding-left: 5px;
	outline-style: none;
	border:none;
	background-color: #d4d4d4;
}
.top .cont1 .left select option{
	color: #555;
}
.top .cont1 .left ul{
	/* float: left; */
	position: absolute;
	left: 144px;
	top: 0;
}
.top .cont1 .left li{
	height: 27px;
}
/* .top .cont1 .left li:first-of-type::after{
	content: "▼";
	color: #c11034;
} */
.top .cont1 .left li a{
	line-height: 27px;
	color: #555;
	padding-right:10px;
	vertical-align: top;
}
.top .cont1 .right{
	float: right;
}
.top .cont1 .right span{
	margin-left: 0;
}
.top .cont1 .right ul{
	float: right;
	font-size: 14px;
}
.top .cont1 .right ul li a{
	display: inline-block;
	line-height: 27px;
	color: #555;
	padding:0 4px;
	background: url(../images/海尔商城1_02_02.png) right no-repeat;
}
.top .cont1 .right ul li a:hover{
	background-color: #ddd;
}
div.logo{
	width: 100%;
	background-color: #fdfdfd;
}

div.cont2{
	width: 1000px;
	height: 73px;
	margin: 0 auto;
	background:  url(../images/海尔商城_10_03.png) left no-repeat;
}
.cont2 .input{
	display: inline-block;
	width: 495px;
	height: 32px;
	margin: 0 auto;
	margin-top: 20px;
	position: absolute;
	left: 28%;
}
.logo .cont2 input[type=search]{
	width: 405px;
	height: 30px;
	border:1px solid #696969;
	border-right: none;
	float: left;
}
.logo .cont2 input[type=image]{
	width: 90px;
	height: 30px;
	float: right;
}
.logo .cont2 img{
	float: right;
}
div.banner{
	width: 100%;
	height: 233px;
	position: relative;
	/* background-color: #777; */
}

.banner .sort{
	width: 203px;
	float: left;
	margin-left: 10%;
	position: absolute;
	top: -6px;
}
.banner .sort .p1{
	float: left;
}
.banner .sort .p2{
	float: right;
}
.banner .sort .prosort{
	width: 192px;
	height: 297px;
	float: right;
}
.banner .sort span{
	display: inline-block;
	width: 139px;
	line-height: 37px;
	padding-left: 53px;
	background-color: #c9133b;
	color: white;
}
.banner .sort .prosort a{
	display: inline-block;
	height: 35px;
	width: 192px;
}
.banner .sort .prosort .s1{
	background: url(../images/海尔商城_46.png) left no-repeat;
}
.banner .sort .prosort .s2{
	background: url(../images/海尔商城1_03.png) left no-repeat;
}
.banner .sort .prosort .s3{
	background: url(../images/海尔商城1_06.png) left no-repeat;
}
.banner .sort .prosort .s4{
	background: url(../images/海尔商城1_08.png) left no-repeat;
}
.banner .sort .prosort .s5{
	background: url(../images/海尔商城1_10.png) left no-repeat;
}
.banner .sort .prosort .s6{
	background: url(../images/海尔商城1_12.png) left no-repeat;
}
.banner .nav{
	height: 31px;
	background: url(../images/li_bg.png) repeat;
	border-bottom: 1px solid #808080;
	color: #555;
}
.banner .nav ul{
	position: absolute;
	left: 27%;
}
.banner .nav ul a{
	line-height: 31px;
	padding: 0 10px;

	color: black;
	background: url(../images/海尔商城2_09.png) right no-repeat;
}
.banner .nav ul li img{
	position: absolute;
	left: 120px;
}
.banner .nav .shop{
	display: inline-block;
	position: absolute;
	right: 11%;
	line-height: 18px;
	width: 130px;
	padding-left: 54px;
	background: #c0c0c2 url(../images/海尔商城_36.png) left no-repeat;
}
.banner .nav .shop a{
	display: inline-block;
	width: 64px;
	height: 23px;
	margin-top: 4px;
}
.banner .nav .shop>img{
	position: absolute;
	left: 50px;
	top: -15px;
}
.banner div.cont3{
	height: 201px;
	background: url(../images/海尔商城1_02.png) repeat;
}
.banner .cont3 table{
	position: absolute;
	right: 10%;
	top: 55px;
}
.banner .cont3 table th{
	width: 190px;
	font-size: 15px;
	color: #555;
}
.banner .cont3 table td{
	padding-left: 65px;
	height: 20px;
}
.banner .cont3 table td a{
	color: #555;
	font-size: 12px;

}
div.blank{
	width: 1000px;
	height: 130px;
	margin: 0 auto;
}
.blank .info{
	width: 300px;
	vertical-align: middle;
	padding: 20px 15px;
	float: left;
}
.blank .info p{
	float: right;
	height: 63px;
	line-height: 30px;
	padding: 0;
	margin-right: 0;
}
div.footer{
	width: 100%;
	height: 170px;
	background-color: #aeaeae;
	border-bottom: 4px solid white;
	text-align: center;
	color: white;
	position: relative;
}
.footer .cont4{
	width: 745px;
	height: 157px;
	float: left;
	position: relative;
	left: 20%;
	overflow: hidden;
	font-size: 12px;
}
.footer .cont4 ul{
	float: left;
	width: 430px;
	height: 21px;
	margin: 0 auto;
	position: absolute;
	left: 20%;
	top: 20px;
}
.footer .cont4 ul a{
	color: white;
	line-height: 12px;
	padding:0 5px;
	border-right: 1px solid white;
}
div.footer>img{
	position: absolute;
	right: 0;
	float: right;
}